################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/packages
/Web.Release.config
/Web.Debug.config
