################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/packages
/Web.Release.config
/Web.Debug.config
/AngularJSTraining/AngularJSTraining/obj/Debug
/AngularJSTraining/AngularJSTraining/My Project
/AngularJSTraining/AngularJSTraining/bin
/AngularJSTraining/.vs/AngularJSTraining
/AngularJSTraining/AngularJSTraining/Web.Release.config
/AngularJSTraining/AngularJSTraining/Web.Debug.config
/AngularJSTraining/AngularJSTraining/packages.config
