################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj/Debug
/packages
/Web.Release.config
/Web.Debug.config
/AngularJSTraining/AngularJSTraining/obj/Debug
/AngularJSTraining/AngularJSTraining/My Project
/AngularJSTraining/AngularJSTraining/bin
/AngularJSTraining/.vs/AngularJSTraining
/AngularJSTraining/AngularJSTraining/Web.Release.config
/AngularJSTraining/AngularJSTraining/Web.Debug.config
/AngularJSTraining/AngularJSTraining/packages.config
/AngularJSTraining/AngularJSTraining.Core/obj/Debug
/AngularJSTraining/AngularJSTraining.Core/bin/Debug
/AngularJSTraining/AngularJSTraining.Services/obj/Debug
/AngularJSTraining/AngularJSTraining.Services/bin/Debug
/AngularJSTraining/packages
/AngularJSTraining/Services/obj
/AngularJSTraining/AngularJSTraining.Web/bin
/AngularJSTraining/AngularJSTraining.Web/obj/Debug
/AngularJSTraining/AngularJSTraining.Web/Web.Release.config
/AngularJSTraining/AngularJSTraining.Web/Web.Debug.config
