<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Product Inventory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="main.js"></script>
    <script src="Product/product.js"></script>
    <script src="login.js"></script>
    <script src="home.js"></script>
    <script src="Service/productService.js"></script>
    <style>
        .ErrorMessage {
            color: red;
        }
    </style>

</head>
<body ng-app="myapp">
    <div ng-controller="mainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/!">Routing Assignment</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-show="IsLogin"><a href="#!productList">Product</a></li>
                    <!--<li ng-show="!IsLogin"><a href="#!login">Login</a></li>-->
                    <li ng-show="IsLogin"><a ng-click="Logout()" href="">Logout</a></li>
                    <li class=""><a><span ng-show="!IsLogin" style="color:red;">You are not logged in...!</span><span ng-show="IsLogin" style="color:green">You are logged in...!</span></a></li>
                </ul>
            </div>
        </nav>

        <br />
        <div class="container">
            <div ng-view></div>
        </div>
        <br />

        <div ng-show="!IsLogin" class="container">
            <ng-include src=" 'Login.html' " ng-if="!IsLogin"></ng-include>
        </div>

    </div>

</body>
</html>