<div ng-controller="loginController">
    <div ng-show="Islogin">
        You are successfulyy logged in.!
    </div>
    <div ng-show="!Islogin">
        <h2>Login</h2>
        <div class="row" ng-show="showMsg">
            <div class="col-xs-12">
                <p class="alert alert-danger">
                    <strong>{{message}}</strong>
                </p>
            </div>
        </div>

        <form name="loginForm">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" id="UserName" name="UserName" ng-model="ObjLogin.UserName" required class="form-control" maxlength="5" placeholder="User Name" />
                        <span class="ErrorMessage" ng-show="loginForm.UserName.$touched && loginForm.UserName.$invalid">
                            <span ng-show="loginForm.UserName.$error.required">User Name is required.</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="Password" name="Password" ng-model="ObjLogin.Password" required class="form-control" placeholder="Password" />
                        <span class="ErrorMessage" ng-show="loginForm.Password.$touched && loginForm.Password.$invalid ">
                            <span ng-show="loginForm.Password.$error.required">Password is required.</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="submit" ng-click="Login(ObjLogin)" class="btn btn-success btn-ls" value="Submit" ng-disabled="loginForm.$invalid" />
                    <!--<a ng-click="Login(ObjLogin)" href="" class="btn btn-success btn-ls"  ng-disabled="loginForm.$invalid">Submit</a>-->
                    <button class="btn btn-default" ng-click="Reset()">Reset</button>

                </div>
            </div>
        </form>

        <br />
    </div>
</div>