<style>
    div.hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
        text-align: center;
        height: 0px;
        line-height: 0px;
    }

    .hr-title {
        background-color: #fff;
    }
</style>
<div class="main" ng-controller="productCtrl">
    <a href="#!product-list" class="btn btn-primary">
        Back to Product List
    </a>
    <div class="row" ng-if="userId != null">
        <div class="col-md-12">
            <form class="form-horizontal" name="productForm">
                <!--Name-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Product Name"
                               ng-model="product.ProductName" required>
                        <span class="text-danger" ng-show="productForm.name.$touched && productForm.name.$invalid">
                            <span ng-show="productForm.name.$error.required">
                                Name is required.
                            </span>
                        </span>
                    </div>
                </div>
                <!--Brand-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gender">Select Brand</label>
                    <div class="col-sm-10">
                        <select id="brand" name="brand" class="form-control" ng-model="product.BrandId" required>
                            <option selected="selected" value="">--- Select ---</option>
                            <option ng-repeat="brand in brands"
                                    value="{{brand.Id}}">
                                {{brand.BrandName}}
                            </option>
                        </select>
                        <span class="text-danger" ng-show="productForm.brand.$touched && productForm.brand.$invalid">
                            <span ng-show="productForm.brand.$error.required">
                                Please select a brand
                            </span>
                        </span>
                    </div>
                </div>
                <!--Category-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="gender">Select Category</label>
                    <div class="col-sm-10">
                        <select id="category" name="category" class="form-control" ng-model="product.CategoryId" required>
                            <option selected="selected" value="">--- Select ---</option>
                            <option ng-repeat="cat in categories"
                                    value="{{cat.Id}}">
                                {{cat.CategoryName}}
                            </option>
                        </select>
                        <span class="text-danger" ng-show="productForm.category.$touched && productForm.category.$invalid">
                            <span ng-show="productForm.category.$error.required">
                                Please select a category
                            </span>
                        </span>
                    </div>
                </div>
                <!--Price-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" min="0" id="price" name="price"
                               placeholder="Enter Price" ng-model="product.Price" required>
                        <span class="text-danger" ng-show="productForm.price.$touched && productForm.price.$invalid">
                            <span ng-show="productForm.price.$error.required">
                                Price is required.
                            </span>
                        </span>
                    </div>
                </div>
                <!--Color-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="color">Color</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="color" name="color"
                               placeholder="Enter Color" ng-model="product.Color">
                    </div>
                </div>
                <!--Is in Stock-->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="emailId">Select for Stock Availability</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" id="isInStock1" name="isInStock" ng-model="product.IsInStock"
                                       value="true">Available
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="isInStock0" name="isInStock" ng-model="product.IsInStock"
                                       value="false">Not Available
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="product.CreatedDate">
                    <div class='hr'>
                        <span class='hr-title'>View Only</span>
                    </div>
                    <!--Created Date-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="date">Product Arrival At</label>
                        <div class="col-sm-10">
                            <label class="form-control" for="date">{{product.CreatedDate | date:"dd/MM/yyyy 'at' h:mma"}}</label>
                        </div>
                    </div>
                    <!--Created By-->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fullName">Product Created By</label>
                        <div class="col-sm-10">
                            <label class="form-control" for="fullName">{{product.FullName}}</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="productForm.$invalid"
                                ng-click="addEditProduct(product.ProductId)">
                            Add / Edit Product
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="resetData()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="userId == null || userId == undefined">
        <h2 class="text-center text-danger">Access Denied</h2>
    </div>
</div>